.srijan-re {
  display: flex;
  margin: 5vh 0;
  padding: 0 10rem;
}

.srijan-re img {
  min-width: 350px;
  max-width: 500px;
  border-radius: 0.5rem;
}

.srijan-re h1 {
  font-size: 2.2rem;
  color: var(--color-1-100);
  font-family: var(--font1);
  font-weight: bolder;
  text-align: center;
}

.srijan-re-cont p {
  text-align: justify;
  text-align-last: left;
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-family: var(--font5);
  line-height: 1.4;
  font-size: 1.2rem;
}

@media only screen and (max-width: 992px) {
  .srijan-re {
    flex-direction: column;
    margin: 1.5rem 0;
    padding: 0;
  }

  .srijan-re img {
    min-width: 150px;
    max-width: 300px;
    border-radius: 0.3rem;
  }

  .srijan-re h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .srijan-re-cont p {
    font-size: 0.9rem;
    margin: 1rem 0 0 0 !important;
    padding: 0 2rem 0 2.5rem;
  }
}

@media only screen and (max-width: 380px) {
  .srijan-re img {
    min-width: 100px;
    max-width: 200px;
    border-radius: 0.2rem;
  }
}

.events-top {
  margin-top: 15vh;
}

@media only screen and (max-width: 660px) {
  .events-top {
    margin-top: 0vh;
  }
}

.event-highlights {
  margin: 5vh auto 0 auto;
  background-color: var(--color-1-080);
  height: 5rem;
  width: 40rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.event-highlights h1 {
  font-family: var(--font5);
  color: var(--color-20-100);
}

@media only screen and (max-width: 660px) {
  .event-highlights {
    width: 20rem;
    height: 3rem;
  }

  .event-highlights h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 380px) {
  .event-highlights {
    width: 14rem;
    height: 2rem;
  }

  .event-highlights h1 {
    font-size: 0.85rem;
  }
}

.gallery-cont {
  padding: 2.5rem;
  padding-bottom: 2rem !important;
  padding-top: 1.5rem !important;
  width: 100%;
  max-width: 115rem;
  margin: 4rem auto;
  margin-bottom: 0 !important;
  background-color: #f7f7f7;
}

.gallery-cont-heading{
    display: flex;
    justify-content: center;
    font-weight: 900;
}

.gallery-cont-heading h1{
    color: var( --color-20-100);
    font-size: 3rem;
    font-family: var(--font5);
    font-weight: 900;
}

.btn-gal-ho{
  display: flex;
  justify-content: center;
}

.hometogallerybtn {
  font-weight: 900;
  padding: .5rem 2rem;
  text-decoration: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 1.25rem;
  background-color: #111;
  color: white;
}

.hometogallerybtn:hover {
  font-weight: 900;
  background-color: var(--color-20-100);
}

.hometogallerybtn:active {
  box-shadow: 1px 1px 1px 1px #e2564f;
  transform: translateY(2px);
}

.hometogallerybtn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #e2564f;
  transition: 0.5s;
}


@media only screen and (max-width: 660px) {
  .hometogallerybtn {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 320px) {
  .hometogallerybtn {
    font-size: 0.7rem;
  }
}

.slider{
  height: 15.625rem;
  margin: auto;
  width: 90%;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  min-height: 25rem;
  display: grid;
  place-items: center;
  z-index: 0;
}

.slide-track{
  display: flex;
  width: calc(21.875rem * 14);
  animation: scroll 40s linear infinite 2s;
}

.slide-track:hover{
  animation-play-state: paused;
}


@keyframes scroll {
  0% {
      transform: translateX(0)
  }
  100%{
      transform: translateX(calc(-21.875rem * 14))
  }
}

.slide2{
  display: flex;
  align-items: center;
  padding: 0.9375rem;
  perspective: 6.25rem;
}

.slide2 img{
  height: 100%;
  width: 28.875rem;
  transition: all 0.5s ease-out;
  border-radius: 7px;
}

.slide2 img:hover{
  transform: scale(1.08);
}

.slider::before, .slider::after{
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 10%);
  height: 100%;
  position: absolute;
  z-index: 2;
  width: 15%;
  content: '';
}

.slider::before{
  left: 0;
  top: 0;
}

.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*for mobile devices*/
@media only screen and (max-width:660px){
  .gallery-cont {
    padding: 1rem;
    padding-bottom: 2rem !important;
  padding-top: 1.5rem !important;
  }

  .slider{
      height: 8.625rem;
      min-height: 18rem;
  }

  .slide-track{
      width: calc(13rem * 14);
  }

  @keyframes scroll {
      0% {
          transform: translateX(0)
      }
      100%{
          transform: translateX(calc(-13rem * 14))
      }
  }

  .slide2 img{
      height: 10.5rem;
      width: 13rem;
  }
}

@media only screen and (max-width:320px){
  .gallery-cont {
    padding: 1rem;
    padding-bottom: 2rem !important;
  padding-top: 1.5rem !important;
  }

  .slider{
      height: 8.625rem;
      min-height: 18rem;
  }
  
  .slide-track{
      width: calc(9rem * 14);
  }

  @keyframes scroll {
      0% {
          transform: translateX(0)
      }
      100%{
          transform: translateX(calc(-9rem * 14))
      }
  }

  .slide2 img{
      height: 8rem;
      width: 10rem;
  }
}