
.footermain{
    position:absolute;
    bottom: 0;
}
.footer-icon{
    background-color: var(--color-9-100);
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.footer-below{
    display: flex;
    
    max-width: 100%;
    background-color: var(--color-20-100);
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 14em;
}
.address ul{
    padding-bottom: 0.4em;
    color: white;
    font-size: 1rem
    
}
.phonenum ul{
    padding-bottom: 0.4em;
    color: white;
    font-size: 1rem
    
}

.footer-below1{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    text-align: center;
}

.footer-below1 h1{
    color: var(--color-21-100);
    font-weight: 900;
    margin: 0 !important;
}

.social-media2{
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    text-align: center;
    margin-top: 1rem;
}

.fb-holder{
    display: flex;
    margin: 0.5rem 0;
}

.fb-holder h3{
    color: var( --color-21-100);
    margin-left: 0.4rem;
    font-size: 12px;
}

.fb-b-b{
    height: 27px;
    width: 27px;
    border-radius: 50%;
    cursor: pointer;
}

.fb-b-b:hover{
    background-color: var(--color-20-100);
    transition: 0.5s ease-in-out;
}

.fb-b-b:hover .fb-b-1{
    color: var(--color-21-100);
    transition: 0.5s ease-in-out;
}

.fb-b-1{
    color: var(--color-20-100);
}

.footer-below1 h2{
    color: var(--color-21-100);
    font-family: var(--font5);
    font-size: 20px;
}

.footer-below1 h1{
    margin: 1rem 0;
}
.footer-below2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-below2 h1{
    color: var(--color-21-100);
    font-size: 1.5rem;
    font-family: var(--font5);
    font-weight: 900;
}

.footer-below2 h3{
    font-size: 12px;
    color: var(--color-21-100);
    font-family: var(--font5);
    font-weight: 900;
    margin: 1rem 0;
}

.phonenum .address{
    padding: 0.5rem;
}
.phonenum2{
   
    display: flex;
    flex-direction: column;

}
.phonenum2 a{
 text-decoration: none;
 color: white;
 padding-bottom: .4rem;

}
.phonenum2 a:hover{
    cursor: pointer;
    
}

.icon-color8{
    color: white;
    
}
.icon-color8:hover {
    color: red;
}
.icon-color9{
    color: white;
}
.icon-color9:hover {
   
    color: #f09433;
}
.footer-btn-a,.footer-btn-b,.footer-btn-c,.footer-btn-d,.footer-btn-e{
    
    display: flex;
    justify-content: center;
    background-color: var(--color-10-100);
    align-items: center;
    margin: 0.4375rem;
   
    padding-left: 0%;
    padding-right: 0%;
   
    border-radius: 0.25rem;
    width: 2.1875rem;
    height: 2.1875rem;
    transition: all 0.3s ease 0s;

}
.footer-btn-a,.footer-btn-b,.footer-btn-c,.footer-btn-d,.footer-btn-e:hover{
    cursor: pointer;
}

.icon-color-a,.icon-color-b,.icon-color-c,.icon-color-d,.icon-color-e{
    padding-top: 0.125rem;
    color: black;
   
}
.footer-btn-a:hover .icon-color-a{
    color: white;
    transition: all 0.3s ease 0s;
}
.footer-btn-a:hover{
    background-color: #0072b1;
    transition: all 0.3s ease 0s;
}
.footer-btn-b:hover .icon-color-b{
    color: white;
    transition: all 0.3s ease 0s;
}
.footer-btn-b:hover{
    background-color: 	#4267B2;
    transition: all 0.3s ease 0s;
}
.footer-btn-c:hover .icon-color-c{
    color: white;
    transition: all 0.3s ease 0s;
}
.footer-btn-c:hover{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    transition: all 0.3s ease 0s;
}
.footer-btn-d:hover .icon-color-d{
    color: rgb(255, 0, 0);
    transition: all 0.3s ease 0s;
}
.footer-btn-d:hover{
    background-color: 	#ffffff;
    transition: all 0.3s ease 0s;
}
.footer-btn-e:hover .icon-color-e{
    color: rgb(251, 62, 62);
    transition: all 0.3s ease 0s;
}
.footer-btn-e:hover{
    background-color: 	#ffffff;
    transition: all 0.3s ease 0s;
}
.footer-heading img{
    width: 8rem;
}

.address{
    margin-left: 0.5rem;
}
.phonenum{
    margin-left: 0.5rem;
}



.light-address{
    color: #98a2ad !important;
    font-weight: 600 !important;
}
.footer-phone:hover{
    color: rgb(0, 0, 0) !important;
}
.footer-location:hover{
    color: #000000 !important;
}
.footer-heading:hover{
    color:#ee0970 !important;
}


.footer-social{
    text-align: center;
    background-color: var(--color-20-100);
}

.footer-social h4{
    font-size: 25px;
    font-weight: 900;
    font-family: var(--font5);
    color: white;
}


.comp-name{
    font-family: var(--font5);
    color: var(--color-21-100);
    margin-left: 1.5rem;
    font-size: 1.875rem;
}

.int-name{
    color: var(--color-21-100);
    font-family: var(--font5);
    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.footer-adja{
    margin-top: -1rem;
    color: var(--color-21-100);
}

.add-type{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.add-type a {
    color: var(--color-21-100);
    font-family: var(--font5);
}

.tie{
    margin: 0 0.5rem;
    color: var(--color-21-100);
}
.footer-adja h5{
    font-family: var(--font5);
    font-size: .75rem;
}

.copyright{
    text-align: center;
    background-color: #251a1e;
    padding: 0.5rem 0;
    color: var(--color-21-100);
}

.copyright h4{
    font-family: var(--font2);
    font-size: 0.625rem;
    font-weight: 900;
}

.copyright a{
    color: var(--color-21-100);
    font-weight: 900;
}

.copyright a:hover{
    color: var( --color-1-100);
}

@media only screen and (max-width : 676px){
    .footer-below{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
    }

    .footer-heading{
        display: block;
    }
    
    .footer-pic{
        margin-bottom: 1.2rem;
    }

    .comp-name{
        font-size: 1.2rem;
        margin: 0 !important;
        text-align: center;
    }

    .int-name{
        margin: 0!important;
        font-size: 1.0rem;
        text-align: center;
    }

    .footer-adja{
        margin-top: 0 !important;
        margin-bottom: 0.5rem;
        text-align: center !important;
    }

    .footer-below1{
        padding: 0 !important;
        text-align: center;
        margin-bottom: 0.5rem;
    }
}